* {
  margin: 0px;
  padding: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.menu-header {
  font-family: 'Shrikhand', cursive;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header .logo {
  width: 175px;
  position: relative;
  top: 15px;
  margin-bottom: 30px;
}

.header__paragraph {
  background-color: #e5e5e5;
  color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  padding: 17px 0px;
  -webkit-box-shadow: inset 0px 2px 5px #b2b2b2;
          box-shadow: inset 0px 2px 5px #b2b2b2;
}

.header .header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3;
  color: black;
  width: 100%;
}

@media (min-width: 900px) {
  .header .header__main {
    width: 50%;
    height: 400px;
    position: absolute;
    background-color: white;
    right: 50%;
    top: 200px;
  }
}

.header .header__main .header__h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 40px;
}

.header .header__main .header__h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: lighter;
  text-align: center;
  width: 85%;
  padding: 40px 0px 0px 0px;
  font-weight: 100;
}

.button {
  -webkit-box-shadow: 0px 3px 15px 0px #e5e5e5;
          box-shadow: 0px 3px 15px 0px #e5e5e5;
  border-radius: 25px;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  /* will be "on top", if browser supports it */
  font-family: sans-serif;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 30px 0px 55px 0px;
  color: white;
  font-size: 16px;
  min-width: 200px;
}

/* Section header rules */
section h2 {
  width: 90%;
  padding: 40px 0px 30px 0px;
}

@media (min-width: 900px) {
  section h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0px;
    font-size: 25px;
  }
}

/* How it works section rules */
section:nth-of-type(1) {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  /* Styles the numbers */
}

@media (min-width: 900px) {
  section:nth-of-type(1) {
    max-width: 50%;
    height: 400px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 200px;
  }
}

section:nth-of-type(1) ol {
  width: 98%;
  max-width: 600px;
  counter-reset: item;
  list-style-type: none;
}

@media (min-width: 900px) {
  section:nth-of-type(1) ol {
    width: 100%;
    max-width: unset;
  }
}

section:nth-of-type(1) li:before {
  background-color: #9356DC;
  color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Gets rid of period after the number */
  content: counter(item) "  ";
  counter-increment: item;
  width: 22px;
  height: 22px;
  border-radius: 20px;
  position: relative;
  left: 10px;
  font-size: smaller;
}

section:nth-of-type(1) li {
  /* ONLY styles the <li> container, not the text or icons inside */
  list-style-position: inside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0px 0px 6% 0px;
}

section:nth-of-type(1) ol a {
  /* Styles icon and the text */
  -webkit-box-shadow: 0px 3px 15px 0px #cccccc;
          box-shadow: 0px 3px 15px 0px #cccccc;
  z-index: 1;
  text-decoration: none;
  color: black;
  width: 90%;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding-right: 5px;
  font-size: 100%;
  font-weight: 500;
}

section:nth-of-type(1) ol i {
  /* just the icons */
  padding: 25px 25px;
  color: #666666;
}

section:nth-of-type(1) li:nth-of-type(1) i {
  font-size: 120%;
}

/* Restaurants section rules */
section:nth-of-type(2) {
  /* maybe I can shorten this code along with the how it works section, only dif is background color rule*/
  background-color: #f3f3f3;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 50px;
  overflow: hidden;
}

@media (min-width: 900px) {
  section:nth-of-type(2) {
    -ms-grid-row-align: center;
        align-self: center;
    margin-top: 700px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    border: 1px solid red;
    padding: 10%;
  }
}

@media (min-width: 900px) {
  section:nth-of-type(2) h2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

section:nth-of-type(2) a {
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 0px 18px 5px 18px;
}

@media (min-width: 900px) {
  section:nth-of-type(2) a {
    border: 1px solid blue;
    padding: unset;
  }
}

section:nth-of-type(2) .card {
  -webkit-box-shadow: 0px 3px 15px 0px #e5e5e5;
          box-shadow: 0px 3px 15px 0px #e5e5e5;
  background-color: white;
  color: black;
  width: 100%;
  max-width: 500px;
  height: 251px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 15px;
}

@media (min-width: 900px) {
  section:nth-of-type(2) .card {
    border: 1px solid blue;
    width: unset;
    max-width: unset;
  }
}

@media (min-width: 900px) and (min-width: 900px) {
  section:nth-of-type(2) .card__text {
    margin: 4% 0% 3% 2%;
  }
}

section:nth-of-type(2) .card__img {
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}

section:nth-of-type(2) .card h3 {
  margin: 10px 0px 10px 10px;
  font-weight: 700;
}

section:nth-of-type(2) .card p {
  margin: 0px 0px 10px 10px;
  font-weight: 300;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8% 0% 10% 5%;
  background-color: #282828;
  color: white;
}

footer a {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 7px;
}

footer a:nth-of-type(1) i {
  margin-right: 10px;
}

footer a:nth-of-type(2) i {
  margin-right: 10px;
  -webkit-transform: scale(0.7, 1);
          transform: scale(0.7, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  overflow: hidden;
}

footer span {
  width: 14px;
  margin-right: 10px;
}

footer img {
  width: 100px;
  padding-bottom: 20px;
  /* Changes color of logo from black to white */
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(221deg) brightness(101%) contrast(104%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(221deg) brightness(101%) contrast(104%);
}
/*# sourceMappingURL=main.css.map */