* {
  margin: 0px;
  padding: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: 'Roboto', sans-serif;
}

.menu-header {
  font-family: 'Shrikhand', cursive;
}

.fa-arrow-left {
  position: absolute;
  top: 3%;
  left: 5%;
  color: black;
}

.logo {
  width: 175px;
  position: relative;
  top: 15px;
  margin-bottom: 0px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  background-color: #f3f3f3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.menu-img {
  height: 200%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  height: 282px;
  position: relative;
  top: 30px;
}

.menu-header {
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0px 0px 0px;
}

@media (min-width: 800px) {
  .menu-header {
    padding: 0px 12%;
  }
}

.menu-header i {
  margin-right: 20px;
}

.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 800px) {
  .section {
    padding: 0px 14%;
  }
}

.section__header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 3%;
  margin-top: 30px;
}

.section__h3 {
  font-weight: lighter;
  margin-top: 30px;
}

.section hr {
  border: none;
  height: 3px;
  width: 48px;
  background-color: #99E2D0;
  margin: 7px 0px 15px 0px;
}

.section .dish {
  -webkit-box-shadow: 0px 3px 15px 0px #e5e5e5;
          box-shadow: 0px 3px 15px 0px #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  background-color: #ffffff;
  min-height: 68px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  margin: 5px;
  overflow: hidden;
}

.section .dish:hover .dish__price-and-checkmark {
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.section .dish:hover div > i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.section .dish__name-and-description {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
}

.section .dish h4 {
  font-weight: 500;
  font-size: 110%;
}

.section .dish p {
  font-weight: 300;
}

.section .dish__price-and-checkmark {
  font-weight: bold;
  position: relative;
  left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.section .dish__price-and-checkmark div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 100%;
  font-size: 22px;
  background-color: #99E2D0;
  color: white;
}

.section .dish__price-and-checkmark p {
  font-weight: 500;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 25px;
  padding-bottom: 10px;
}

.button {
  -webkit-box-shadow: 0px 3px 15px 0px #e5e5e5;
          box-shadow: 0px 3px 15px 0px #e5e5e5;
  border-radius: 25px;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  /* will be "on top", if browser supports it */
  font-family: sans-serif;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 30px 0px 55px 0px;
  color: white;
  font-size: 16px;
  min-width: 200px;
}

.button:focus {
  outline-style: unset;
}

.button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(#ff88de, #9b63df);
  -webkit-box-shadow: 0px 3px 15px 0px #b2b2b2;
          box-shadow: 0px 3px 15px 0px #b2b2b2;
}

.button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff88de), to(#9b63df));
  background-image: linear-gradient(#ff88de, #9b63df);
  -webkit-box-shadow: 0px 3px 15px 0px #b2b2b2;
          box-shadow: 0px 3px 15px 0px #b2b2b2;
}

.button:active {
  border: none;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8% 0% 10% 5%;
  background-color: #282828;
  color: white;
}

@media (min-width: 800px) {
  footer {
    font-size: larger;
    padding-left: 8%;
  }
}

footer a {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 7px;
}

footer a:nth-of-type(1) i {
  margin-right: 10px;
}

footer a:nth-of-type(2) i {
  margin-right: 10px;
  -webkit-transform: scale(0.7, 1);
          transform: scale(0.7, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  overflow: hidden;
}

footer span {
  width: 14px;
  margin-right: 10px;
}

footer img {
  width: 100px;
  padding-bottom: 25px;
  /* Changes color of logo from black to white */
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(221deg) brightness(101%) contrast(104%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(221deg) brightness(101%) contrast(104%);
}
/*# sourceMappingURL=menu.css.map */