* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.menu-header {
  font-family: 'Shrikhand', cursive;
}

@-webkit-keyframes dot-rotate {
  0% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot-rotate {
  0% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 1;
  }
}

#loading-spinner {
  opacity: 1;
  position: absolute;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 40%;
  z-index: 9;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

#loading-spinner .dot-one {
  padding: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #9356DC;
  position: relative;
  top: 53px;
  left: 3px;
}

#loading-spinner .dot-two {
  padding: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FF79DA;
  position: relative;
  top: 60px;
  left: 15px;
}

#loading-spinner .dot-three {
  padding: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #99E2D0;
  position: relative;
  top: 64px;
  left: 28px;
}

#loading-spinner .dot-four {
  padding: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #9356DC;
  position: relative;
  top: 60px;
  left: 42px;
}

#loading-spinner .dot-five {
  padding: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #FF79DA;
  position: relative;
  top: 53px;
  left: 54px;
}

@-webkit-keyframes loading-spinner-background {
  from {
    opacity: 1;
    z-index: 8;
  }
  to {
    z-index: 8;
    opacity: 1;
  }
}

@keyframes loading-spinner-background {
  from {
    opacity: 1;
    z-index: 8;
  }
  to {
    z-index: 8;
    opacity: 1;
  }
}

#loading-spinner-background {
  opacity: 0;
  z-index: -9999;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation: loading-spinner-background;
          animation: loading-spinner-background;
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
}

@-webkit-keyframes no-scroll {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes no-scroll {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#page-content {
  opacity: 1;
  -webkit-animation: no-scroll;
          animation: no-scroll;
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
}

.circle-anchor:nth-of-type(1) {
  opacity: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-animation-name: dot-rotate;
          animation-name: dot-rotate;
  -webkit-animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
          animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 0.27s;
          animation-delay: 0.27s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
}

.circle-anchor:nth-of-type(2) {
  opacity: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-animation-name: dot-rotate;
          animation-name: dot-rotate;
  -webkit-animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
          animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 0.23s;
          animation-delay: 0.23s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
}

.circle-anchor:nth-of-type(3) {
  opacity: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-animation-name: dot-rotate;
          animation-name: dot-rotate;
  -webkit-animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
          animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
}

.circle-anchor:nth-of-type(4) {
  opacity: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-animation-name: dot-rotate;
          animation-name: dot-rotate;
  -webkit-animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
          animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
}

.circle-anchor:nth-of-type(5) {
  opacity: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-animation-name: dot-rotate;
          animation-name: dot-rotate;
  -webkit-animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
          animation-timing-function: cubic-bezier(0.67, 0.33, 0.27, 0.61);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
}

@-webkit-keyframes menu-section-delay {
  0%, 38% {
    opacity: 0;
  }
  37% {
    -webkit-transform: translate(0px, 7px);
            transform: translate(0px, 7px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes menu-section-delay {
  0%, 38% {
    opacity: 0;
  }
  37% {
    -webkit-transform: translate(0px, 7px);
            transform: translate(0px, 7px);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.fa-arrow-left {
  position: absolute;
  top: 23px;
  left: 5%;
  color: black;
}

.logo {
  width: 175px;
  position: relative;
  top: 15px;
  margin-bottom: 0px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  background-color: #f3f3f3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.menu-img {
  height: 200%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  height: 282px;
  position: relative;
  top: 30px;
}

.menu-header {
  width: 93%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0px 0px 0px;
}

@media (min-width: 800px) {
  .menu-header {
    width: 100%;
    padding: 0px calc(14% + 15px);
    margin-top: 40px;
  }
}

.menu-header h1 {
  margin-left: 10px;
}

.menu-header .heart {
  font-size: 30px;
  top: 0px;
  position: relative;
  right: calc(-100% + 55px);
  bottom: 87px;
  font-size: 27px;
  width: 40px;
}

.menu-header .heart::before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 400;
  display: inline-block;
  z-index: 2;
  position: relative;
  padding: 5px;
}

.menu-header .heart::after {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 900;
  display: inline-block;
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  padding: 5px;
}

@media (hover: hover) {
  .menu-header .heart:hover::before {
    opacity: 0;
    -webkit-transition: opacity 0s ease-out;
    transition: opacity 0s ease-out;
  }
  .menu-header .heart:hover::after {
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-timing-function: cubic-bezier(0.49, 0.42, 0.54, 0.96);
            transition-timing-function: cubic-bezier(0.49, 0.42, 0.54, 0.96);
  }
}

@media (any-hover: on-demand) {
  .menu-header .heart:active::before {
    opacity: 0;
    -webkit-transition: opacity 0s ease-out;
    transition: opacity 0s ease-out;
  }
  .menu-header .heart:active::after {
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-timing-function: cubic-bezier(0.49, 0.42, 0.54, 0.96);
            transition-timing-function: cubic-bezier(0.49, 0.42, 0.54, 0.96);
  }
}

.section {
  width: 100%;
  -webkit-animation: menu-section-delay 1s;
          animation: menu-section-delay 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 800px) {
  .section {
    width: 100%;
    padding: 0px 14%;
  }
}

.section__header {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 3%;
  margin-top: 30px;
}

.section__h3 {
  font-weight: 300;
  margin-top: 30px;
  margin-left: 5px;
}

.section hr {
  border: none;
  height: 3px;
  width: 48px;
  background-color: #99E2D0;
  margin: 7px 0px 15px 5px;
}

.section .dish {
  -webkit-box-shadow: 0px 3px 15px 0px #e5e5e5;
          box-shadow: 0px 3px 15px 0px #e5e5e5;
  width: 95%;
  background-color: #ffffff;
  height: 68px;
  overflow-x: hidden;
  border-radius: 20px;
  margin: 5px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .dish__price-and-checkmark p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500 !important;
  padding-right: 25px;
  padding-bottom: 10px;
  text-overflow: unset;
  padding-left: 5px;
  height: 100%;
}

.section .dish__price-and-checkmark div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 65px;
      flex-basis: 65px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  font-size: 22px;
  background-color: #99E2D0;
  color: white;
}

.section .dish__price-and-checkmark div > i {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border-radius: 20px;
}

.section .dish .dish__price-and-checkmark {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  border-radius: 20px;
  width: 114px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  left: 65px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 15px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: -55px;
}

.section .dish:active .dish__name-and-description {
  margin-right: 120px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.section .dish:active .dish__price-and-checkmark {
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  margin-left: -110px;
}

.section .dish:active .dish__price-and-checkmark div > i {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border-radius: 20px;
}

@media (min-width: 800px) {
  .section .dish:hover .dish__name-and-description {
    margin-right: 120px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .section .dish:hover .dish__price-and-checkmark {
    -webkit-transform: translateX(-65px);
            transform: translateX(-65px);
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    margin-left: -110px;
  }
  .section .dish:hover .dish__price-and-checkmark div > i {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    border-radius: 20px;
  }
}

.section .dish__name-and-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0px 10px 10px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 0;
  width: calc(100% - 65px);
}

.section .dish h4 {
  font-weight: 400;
  font-size: 115%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 2px;
  padding-bottom: 6px;
}

.section .dish p {
  font-weight: 200;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.section:nth-of-type(2) {
  -webkit-animation: menu-section-delay 1.5s;
          animation: menu-section-delay 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.section:nth-of-type(3) {
  -webkit-animation: menu-section-delay 2s;
          animation: menu-section-delay 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.button {
  -webkit-box-shadow: 0px 3px 15px 0px #999999;
          box-shadow: 0px 3px 15px 0px #999999;
  border-radius: 25px;
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  background-image: linear-gradient(175deg, #FF79DA 0%, #9356DC 100%);
  /* will be "on top", if browser supports it */
  font-family: sans-serif;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 30px 0px 55px 0px;
  color: white;
  font-size: 16px;
  min-width: 200px;
  font-weight: 500;
}

.button:focus {
  outline-style: unset;
}

.button:hover {
  background-image: linear-gradient(175deg, #ff83dd 0%, #985ede 100%);
  -webkit-box-shadow: 0px 3px 15px 0px #8c8c8c;
          box-shadow: 0px 3px 15px 0px #8c8c8c;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8% 0% 10% 5%;
  background-color: #282828;
  color: white;
}

@media (min-width: 800px) {
  footer {
    font-size: 120%;
    padding-left: 2%;
  }
}

footer a {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 7px;
}

@media (min-width: 800px) {
  footer a {
    margin-left: 10%;
  }
}

footer a:nth-of-type(1) i {
  margin-right: 10px;
}

footer a:nth-of-type(2) i {
  margin-right: 10px;
  -webkit-transform: scale(0.7, 1);
          transform: scale(0.7, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  overflow: hidden;
}

footer span {
  width: 14px;
  margin-right: 10px;
}

footer img {
  width: 100px;
  padding-bottom: 25px;
  /* Changes color of logo from black to white */
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(221deg) brightness(101%) contrast(104%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(221deg) brightness(101%) contrast(104%);
}

@media (min-width: 800px) {
  footer img {
    margin-left: 10%;
  }
}
/*# sourceMappingURL=menu.css.map */