@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";

@import "./base/base";
@import "./base/typography";

@import "./components/_buttons";



// z-indexes map
$layers: (
    a: 1,
    number: 2,
);




.header {
    @include flex-column-center();
    width: 100%;

    .logo {
        @include logo(30px);
     
    }

    &__paragraph {
    @include background-color($color-med-gray);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-around;
    padding: 17px 0px;
    box-shadow: inset 0px 2px 5px darken($color-med-gray, 20%);
    }

     
    .header__main {
    @include flex-column-center;
    @include background-color($color-light-gray);
    width: 100%;

        .header__h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 40px;
  
        }
    
        .header__h3 {
        @include flex-column-center;
        font-weight: lighter;
        text-align: center;
        width: 100%;
        padding: 40px 0px 0px 0px;

        } 

    }

}

.button {
    @include button;
}

/* Generic section element rules */ 

section h2 {
    @include section-header;

}

/* How it works section rules */ 

section:nth-of-type(1) {
    @include background-color(white);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

  
    ol {
        width: 98%;
        counter-reset: item;
        list-style-type: none;
      
    }

    /* Styles the numbers */
    li:before {
        @include background-color($color-primary);
        @include layer(number);
        display: flex;
        align-items: center;
        justify-content: center;
        /* Gets rid of period after the number */
        content: counter(item) "  "; 
        counter-increment: item;
        width: 24px;
        height: 24px;
        border-radius: 20px;
        position: relative;
        left: 10px;
    
    }

    li {             
        /* ONLY styles the <li>, not the text or icons inside */
        list-style-position: inside;
        display: flex;
        align-items: baseline;
        margin: 5% 3%;

    }

    ol a {              
        /* Styles icon and the text */
        @include box-shadow(darken($color-med-gray, 10%));
        @include layer(a);
        text-decoration: none;
        color: black;
        width: 90%;
        background-color: $color-light-gray;
        border-radius: 20px;
        padding-right: 5px;

      
        
    }

    ol i {
        /* just the icons */ 
        padding: 25px 20px;
        color: darken($color-med-gray, 50%);
        
        
    }

}
/* Restaurants section rules */ 

section:nth-of-type(2) {         /* maybe I can shorten this code along with the how it works section, only dif is background color rule*/
    @include background-color($color-light-gray);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    & a {
        width: 90%;
        max-width: 500px;
        margin-bottom: 15px;
        border-radius: 15px;
    }

    .card {
        @include box-shadow();
        @include background-color(white);
        width: 100%;
        max-width: 500px;
        height: 251px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 15px;
        
         }

        .card__img {
            height: 174px;
            width: 100%;
            object-fit: cover;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            object-position: 50% 10%; }

        .card h3 {
            margin: 10px 0px 10px 10px;
            font-weight: 700;
        }


        .card p {
            margin: 0px 0px 10px 10px; }
}




footer {
    @include footer;
    @include background-color(#282828);
}
    footer a {
        @include footer-a;
    }

    footer i {
        @include footer-i;
    }

    footer img {
        @include footer-logo;
    }





