@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";

@import "./base/base";
@import "./base/typography";

@import "./components/_buttons";



// z-indexes map
$layers: (
    a: 1,
    number: 2,
);


main {
    @include flex-column-center;
}

.header {
    @include flex-column-center();
    width: 100%;

    .logo {
        @include logo(30px);
        @include desktop-only {
            width: 20%;
            padding: 10px 0px;
        }
     
    }

    &__paragraph {
    @include background-color($color-med-gray);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-around;
    padding: 17px 0px;
    box-shadow: inset 0px 2px 5px darken($color-med-gray, 20%);
    }

     
    .header__main {
    @include flex-column-center;
    @include background-color($color-light-gray);
    width: 100%;
    @include desktop-only {
       width: 45%;
       height: 500px;
       border-radius: 30px;
       position: absolute;
       padding: 30px;
       font-size: 20px;
       right: 50%;
       top: 200px;
       background-color: $color-light-gray;
        
    }

        .header__h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 40px;
  
        }
    
        // "Discover top-of-the-art restaurants...."
        .header__h3 {
        @include flex-column-center;
        font-weight: lighter;
        text-align: center;
        width: 85%;
        padding: 40px 0px 0px 0px;
        font-weight: 100;
        } 

    }

}

.button {
    @include button;
}

/* Section header rules */ 

section h2 {
    @include section-header;
    @include desktop-only {
        @include flex-column-center;
        margin: 20px 0px;
        font-size: 25px;
    }

}

/* How it works section rules */ 

section:nth-of-type(1) {
    @include background-color(white);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include desktop-only {
        max-width: 50%;
        height: 400px;
        position: absolute;
        background-color: white;
        left: 50%;
        top: 200px;
        
    }

    & h2 {
        @include desktop-only {
            margin-bottom: 0px;
        }
    }    
  
    ol {
        width: 98%;
        max-width: 600px;
        counter-reset: item;
        list-style-type: none;
        
        @include desktop-only {
            width: 80%;
            max-width: unset;
          
        }
      
    }

    /* Styles the numbers */
    li:before {
        @include background-color($color-primary);
        @include layer(number);
        display: flex;
        align-items: center;
        justify-content: center;
        /* Gets rid of period after the number */
        content: counter(item) "  "; 
        counter-increment: item;
        width: 22px;
        height: 22px;
        border-radius: 20px;
        position: relative;
        left: 10px;
        font-size: smaller;
        
    }

    li {             
        /* ONLY styles the <li> container, not the text or icons inside */
        list-style-position: inside;
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin: 0px 0px 6% 0px;
        
       

    }

    ol a {              
        /* Styles icon and the text */
        @include box-shadow(darken($color-med-gray, 10%));
        @include layer(a);
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        width: 100%;
        background-color: $color-light-gray;
        border-radius: 20px;
        padding-right: 5px;
        font-size: 100%;
        font-weight: 500;
        @include desktop-only {
            height: 90px;
            font-size: 18px;
        }
    }

    ol i {
        /* just the icons */ 
        padding: 20px 20px 20px 25px;
        color: darken($color-med-gray, 50%);  
        
    }

    li:nth-of-type(1) i {
        font-size: 120%;
    }

}
/* Restaurants section rules */ 

section:nth-of-type(2) {       
    @include background-color($color-light-gray);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;
    @include desktop-only {
        align-self: center;
        margin: 700px 0px 0px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 7%;
        padding: 0px 7% 200px 7%;

    }

    & h2 {
        @include desktop-only {
            width: unset;
            padding: unset;
            margin-top: 7%;
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
            align-items: flex-start;
        }
    }

    & a {
        width: 100%;
        max-width: 500px;
        margin-bottom: 15px;
        border-radius: 15px;
        padding: 0px 18px 5px 18px;
        @include desktop-only {
           padding: unset;
           max-width: unset;
        }
        
        
    }

    .card {
        @include box-shadow();
        @include background-color(white);
        width: 100%;
        max-width: 500px;
        height: 251px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 15px;
        @include desktop-only {
           height: 300px;
           width: 100%;
           max-width: unset;
            &__text {
                @include desktop-only {
                   
                }
            }
        }
        
         }

        .card__img {
            height: 174px;
            width: 100%;
            object-fit: cover;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            object-position: 50% 10%; 
            @include desktop-only {
                object-position: 50% 50%;
                height: 75%;
            }
        
        }

        .card h3 {
            margin: 10px 0px 10px 10px;
            font-weight: 700;
            @include desktop-only {
                
                
            }
        }


        .card p {
            margin: 0px 0px 10px 10px;
            font-weight: 300; 
            @include desktop-only {
                
            }
        
        }

        
}




footer {
    @include footer;
    @include background-color(#282828);
}
    footer a {
        @include footer-a;  
    }

    footer a:nth-of-type(1) i {
        @include footer-i; 
    }

    footer a:nth-of-type(2) i {
        @include footer-i;
        @include footer-i-condense;
    }

    footer span {
        @include footer-span;
    }

    footer img {
        @include footer-logo;
    }







