@mixin desktop-only {
        @media (min-width: 800px) {
            @content;
        }
  }


@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    

// Logo mixin 
@mixin logo($margin-bottom) {
    width: 175px;
    position: relative;
    top: 15px;
    margin-bottom: $margin-bottom;
}


// Use this mixin to access set-text-color function
@mixin background-color($bg-color){            
    background-color: $bg-color;                
    color: set-text-color($bg-color);
}

@mixin box-shadow($color: $color-med-gray) {
    box-shadow: 0px 3px 15px 0px $color;
}


@mixin section-padding {
    padding: 40px 4%;
}

// "How it works" and "Restaurants" section headers
@mixin section-header { 
   // width: 90%;
   // padding: 40px 0px 30px 0px;
   
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

// z-indexes mixin
@mixin layer($layer-name) {
    z-index: map-get($layers, $layer-name);
}



@mixin button {
    @include box-shadow();
    border-radius: 25px;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    text-decoration: none;
    background-image: linear-gradient($color-secondary, $color-primary); /* will be "on top", if browser supports it */
    font-family: sans-serif;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 30px 0px 55px 0px;
    color: white;
    font-size: 16px;
    min-width: 200px;
    &:focus {
        // Gets rid of default 
        outline-style: unset;
    }
    &:hover {
        @include button-hover;
    }
}

@mixin button-hover {
    background-image: linear-gradient(lighten($color-secondary, 3%), lighten($color-primary, 3%));
    @include box-shadow(darken($color-med-gray, 20%))
}

@mixin footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8% 0% 10% 5%; 
   
    
}
@mixin footer-logo {
    // Width, padding and color of the image 
    width: 100px;
    padding-bottom: 25px;
    /* Changes color of logo from black to white */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(221deg) brightness(101%) contrast(104%);
}

@mixin footer-a { 
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 7px;

}

@mixin footer-i {
   margin-right: 10px;
}

@mixin footer-i-condense {
    // Condenses the handshake icon, which is originally too wide
    transform: scale(.7, 1);
    transform-origin: left;
    overflow: hidden;

}

@mixin footer-span {
    width: 14px;  
    margin-right: 10px;

}

