@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";

@import "../base/base";
@import "../base/typography";

@import "../components/_buttons";

.fa-arrow-left {
    position: absolute;
    top: 3%;
    left: 5%;
    color: black;
}

.logo {
    @include logo(0px);
 
}

body {
    @include flex-column-center;
}

main {
    background-color: $color-light-gray;
    width: 100%;
    @include flex-column-center;
    z-index: 2;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    
}

    .menu-img {
       
        height: 200%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        height: 282px;
        position: relative;
        top: 30px;

    }



    .menu-header {
        width: 93%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0px 0px 0px;
        @include desktop-only {
            padding: 0px 12%;
           
        }
      

        & i {
            margin-right: 20px;
  
        }
    }


.section {
    width: 100%;
    @include flex-column-center;
    @include desktop-only {
        padding: 0px 14%;
        
    }
    
    &__header {
        align-self: flex-start;
        margin-left: 3%;
        margin-top: 30px;
    
    }

    &__h3 {
        font-weight: lighter;
        margin-top: 30px;

    }

    hr {
        border: none;
        height: 3px;
        width: 48px;
        background-color: $color-tertiary;
        margin: 7px 0px 15px 0px;
    }

    .dish {
        @include box-shadow;
        display: flex;
        justify-content: space-between;
        width: 95%;
        background-color: #ffffff;
        min-height: 68px;
        height: fit-content;
        border-radius: 20px;
        margin: 5px;
        overflow: hidden;

        &:hover .dish__price-and-checkmark {
            
            transform: translateX(-65px);
            transition-duration: 500ms;
  
        }

        &:hover div > i {
            transform: rotate(1turn);
            transition: transform 400ms ease-in-out;
            transition-duration: 400ms;
        }
        
        &__name-and-description {
            height: 68px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 10px;
        }

        & h4 {
            font-weight: 500;
            font-size: 110%;
          
        }

        & p {
            font-weight: 300;
           
        }



        &__price-and-checkmark {
         
          font-weight: bold;    
          position: relative;
          left: 65px;
          display:  flex;
          align-items: center;
          background-color: white;

          // icon
          & div {
            @include flex-column-center;
            width: 65px;
            height: 100%;
            font-size: 22px;
            background-color: $color-tertiary;
            color: white;


          }

          & p {
              font-weight: 500;
              align-self: flex-end;
              padding-right: 25px;
              padding-bottom: 10px;
          }

          
          

         

        }
    }

}


.button {
    @include button;

    &:hover {
        @include button-hover;
    }
    
    &:active {
        border: none;
    }

}



footer {
    @include footer;
    @include background-color(#282828);
    @include desktop-only {
        font-size: larger;
        padding-left: 8%;
    }
}
    footer a {
        @include footer-a;
        
    }

    footer a:nth-of-type(1) i {
        @include footer-i;
        
    }

    

    footer a:nth-of-type(2) i {
        @include footer-i;
        @include footer-i-condense;
      
    }

    footer span {
        @include footer-span;
    }

    footer img {
        @include footer-logo;
    }