@import "../utils/variables";
@import "../utils/functions";
@import "../utils/mixins";

@import "../base/base";
@import "../base/typography";

@import "../components/animations";

.fa-arrow-left {
    position: absolute;
    top: 23px;
    left: 5%;
    color: black;
}

.logo {
    @include logo(0px);
 
}

body {
    @include flex-column-center;
}

main {
    background-color: $color-light-gray;
    width: 100%;
    @include flex-column-center;
    z-index: 2;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    
}

    .menu-img {
       
        height: 200%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        height: 282px;
        position: relative;
        top: 30px;

    }


    

    .menu-header {
        width: 93%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0px 0px 0px;
        @include desktop-only {
            width: 100%;
            padding: 0px calc(14% + 15px);
            margin-top: 40px;
         
        }
      
        & h1 {
            margin-left: 10px;
       
        }

        & .heart {
            font-size: 30px;
            top: 0px;
            @include heart;
        }
    }



.section {
    width: 100%;
    animation: menu-section-delay 1s;
    animation-timing-function: ease-out;
    
  
    @include flex-column-center;
    @include desktop-only {
        width: 100%;
        padding: 0px 14%;

        
    }
    
    &__header {
        align-self: flex-start;
        margin-left: 3%;
        margin-top: 30px;
    }

    &__h3 {
        font-weight: 300;
        margin-top: 30px;
        margin-left: 5px;

    }

    hr {
        border: none;
        height: 3px;
        width: 48px;
        background-color: $color-tertiary;
        margin: 7px 0px 15px 5px;
    }

    .dish {
        @include box-shadow;
        width: 95%;
        background-color: #ffffff;
        height: 68px;
        overflow-x: hidden;
        border-radius: 20px;
        margin: 5px;
        z-index: 3;
        display: flex;
       
       
        
        // The visible price
        &__price-and-checkmark p {
            @include flex-column-center;
            font-weight: 500 !important;
            padding-right: 25px;
            padding-bottom: 10px;
            text-overflow: unset;
            padding-left: 5px;
            height: 100%;
        }

        // The checkmark div
        &__price-and-checkmark div {
            @include flex-column-center;
                flex-basis: 65px;
                flex-grow: 0;
                flex-shrink: 0;
                height: 100%;
                font-size: 22px;
                background-color: $color-tertiary;
                color: white;

                & > i {
                transform: rotate(-1turn);
                transition: transform 500ms ease-in-out;
                transition-duration: 500ms;
                border-radius: 20px;
                }
        }

        // Div containing the price and checkmark icon       
        & .dish__price-and-checkmark {
            transform: translateX(0px);
            transition-duration: .5s;
            border-radius: 20px;
            width: 114px;
            flex-grow: 0;
            flex-shrink: 0;
            overflow: hidden;
            left: 65px;
            position: relative;
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 15px;
            justify-content: left;
            margin-left: -55px;
        }

        // Hover animations
        &:active {
            
            .dish__name-and-description {
                margin-right: 120px;
                transition-duration: 0.5s;
                
            }
        
            .dish__price-and-checkmark {
            transform: translateX(-65px);
            transition-duration: .5s;
            margin-left: -110px;
  
                // styles the div containing the checkmark icon
                & div  > i {
                    transform: rotate(1turn);
                    transition: transform 500ms ease-in-out;
                    transition-duration: 500ms;
                    border-radius: 20px;
                    }
                }
           
        }

        // Hover animation for desktop
        @include desktop-only {
            &:hover {
            
                .dish__name-and-description {
                    margin-right: 120px;
                    transition-duration: 0.5s;
                    
                }
            
                .dish__price-and-checkmark {
                transform: translateX(-65px);
                transition-duration: .5s;
                margin-left: -110px;
      
                    // styles the div containing the checkmark icon
                    & div  > i {
                        transform: rotate(1turn);
                        transition: transform 500ms ease-in-out;
                        transition-duration: 500ms;
                        border-radius: 20px;
                        }
                    }
               
            }

        }

        // Name of dish and description text below
        &__name-and-description {
            display: flex;
            flex-direction: column;
            padding: 10px 0px 10px 10px;
            white-space: nowrap;
            overflow: hidden;
            flex-grow: 1;
            flex-shrink: 1;
            min-width: 0; 
            width: calc(100% - 65px); // 100% width - the width of the light green animated checkmark
        }

        & h4 {
           
            font-weight: 400;
            font-size: 115%;    
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-top: 2px;
            padding-bottom: 6px;
        }

        & p {
            
            font-weight: 200;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
        }


    }

}
 
.section:nth-of-type(2) {
    animation: menu-section-delay 1.5s;
    animation-timing-function: ease-out;
  
}

.section:nth-of-type(3) {
    animation: menu-section-delay 2s;
    animation-timing-function: ease-out;

}

.button {
    @include button;
}



footer {
    @include footer;
    @include background-color(#282828);
   
}
    footer a {
        @include footer-a;
        
    }

    footer a:nth-of-type(1) i {
        @include footer-i;
        
    }

    

    footer a:nth-of-type(2) i {
        @include footer-i;
        @include footer-i-condense;
      
    }

    footer span {
        @include footer-span;
    }

    footer img {
        @include footer-logo;
    }