

.button {
    @include button;
    
}

.header {
    @include flex-column-center();
    width: 100%;

    .logo {
        @include logo(30px);
        @include desktop-only {
            width: 18%;
            padding: 10px 0px;
        }
     
    }

    &__paragraph {
    @include background-color($color-med-gray);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0px;
    box-shadow: inset 0px 2px 5px darken($color-med-gray, 20%);
    }

     // The block containing 'Book the menu you like', and the 'Explore our restaurants' button
    .header__main {
    @include flex-column-center;
    @include background-color($color-light-gray);
    width: 100%;
    @include desktop-only {
       width: 40%;
       max-width: 560px;
       height: 440px;
       border-radius: 30px;
       position: absolute;
       right: 52.5%;
       top: 230px;
       background-color: $color-light-gray;
    
    }
        // "Book the menu you like"
        .header__h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 40px;
        @include desktop-only {
            font-size: 25px;
        }


        }
    
        // "Discover top-of-the-art restaurants...."
        .header__h3 {
        @include flex-column-center;
        font-weight: lighter;
        text-align: center;
        width: 85%;
        padding: 40px 0px 0px 0px;
        font-weight: 100;
        } 

        

    }

}

