// Section margins
section {
    @include section-padding;
}

/* Section header rules */ 

section h2 {
    @include section-header;
    @include desktop-only {
        @include flex-column-center;
        margin: 20px 0px;
       
    }

}

/* How it works section rules */ 

section:nth-of-type(1) {
    @include background-color(white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    @include desktop-only {
        width: 42%;
        max-width: 600px;
        height: 400px;
        position: absolute;
        background-color: white;
        left: 51.5%;
        top: 250px;
        
    }

    & h2 {
        @include desktop-only {
          
        }
    }    
  
    ol {
        width: 100%;
        max-width: 500px;
        counter-reset: item;
        list-style-type: none;
        position: relative;
        right: 6px;
        @include desktop-only {
            max-width: unset;
            
        }
      
    }

    /* Styles the numbers */
    li::before {
        @include background-color($color-primary);
        @include layer(number);
        display: flex;
        align-items: center;
        justify-content: center;
        /* Gets rid of period after the number */
        content: counter(item) "  "; 
        counter-increment: item;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        position: relative;
        left: 10px;
        font-size: smaller;
        padding: 9px;
        
        
    }

    li {             
        /* ONLY styles the <li> container, not the text or icons inside */
        list-style-position: inside;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 6% 0px;
  
    }

    ol a {              
        /* Styles icon and the text */
        @include box-shadow(darken($color-med-gray, 10%));
        @include layer(a);
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        width: 100%;
        height: 75px;
        background-color: $color-light-gray;
        border-radius: 20px;
        padding-right: 5px;
        font-size: 100%;
        font-weight: 500;
        @include desktop-only {
            width: 95%;
            height: 80px;
            padding-right: 30px;
        }
    }


    // Third li element, purple background color and purple store icon
    li:nth-of-type(3) a {
        background-color: lighten($color-primary, 35%);
    }

    li:nth-of-type(3) i {
        color: $color-primary;
    }
    


    ol i {
        /* just the icons */ 
        padding: 20px 20px 20px 25px;
        color: darken($color-med-gray, 50%);     
    }

    

    li:nth-of-type(1) i {
        font-size: 120%;
    }

}

/* Restaurants section rules */ 

section:nth-of-type(2) {       
    @include background-color($color-light-gray);
    display: flex;
    @include flex-column-center;
    width: 100%;
    
    
    @include desktop-only {
        height: 900px;
        align-self: center;
        margin: 600px 0px 0px 0px;
        padding-bottom: 150px;

    }

    & .card-wrapper {
        width: 100%;
        @include flex-column-center;
        @include desktop-only {
        width: 100%;
        max-width: 1400px;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7% 7%;
        padding: 0px 8% 0px 8%;

    
        }

    }
    & h2 {
        @include desktop-only {
            width: unset;
            padding: unset;
            margin: unset;
            margin-top: 40px;
            height: 0px;
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
            align-items: flex-start;

        }
    }
}

.card {
    height: 252px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    
    @include box-shadow();
    @include desktop-only {
       padding: unset;
       max-width: unset;
       height: 300px;
    }

    &__img {
        width: 100%;
        height: 174px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        @include desktop-only {
            height: 222px;
        }
       
    }

    &__text {
        @include flex-column-center;
        justify-content: space-around;
        width: 80%;
        height: 70px;
        align-items: flex-start;
        padding: 2.5% 0% 2.5% 3.5%;  
        @include desktop-only {
            padding: 1.5% 0% 1.5% 2.5%; 
        }

    }

    & a {
        & p {
            font-weight: 200;
        }
    }


    
}

.new {
    width: 80px;
    height: 30px;
    @include flex-column-center;
    border-radius: 2px;
    color: darken($color-tertiary, 45%);
    background-color: $color-tertiary;
    position: relative;
   // Math to calculate positioning of New div:
   // Move the div 100% to the right and then a
   right: calc(-100% + 95px);
   top: calc(-100% + 20px);
}


//Hides New divs on 3rd and 4th cards
.card:nth-of-type(n+3) .new {
    opacity: 0;
}




.heart { 
    @include heart;
}