// Animation for individual dots
@keyframes dot-rotate {
    0% {
        opacity: 1;
        transform: rotate(360deg)
    }

    100% {
        opacity: 1;
       
    }
}


#loading-spinner {
    opacity: 1;
    position: absolute;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 40%;
    z-index: 9;
    width: 100px;
    height: 100px;
    @include flex-column-center;
    animation-duration: 1.2s;
   
    & .dot-one { 
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-primary;
        position: relative;
        top: 53px;
        left: 3px;
    }
    & .dot-two {
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-secondary;
        position: relative;
        top: 60px;
        left: 15px;
        
    }
    & .dot-three {
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-tertiary;
        position: relative;
        top: 64px;
        left: 28px;
        
    }
    & .dot-four {
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-primary;
        position: relative;
        top: 60px;
        left: 42px;
    }
    & .dot-five {
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-secondary;
        position: relative;
        top: 53px;
        left: 54px;
        
    }
}


@keyframes loading-spinner-background {
    from {
       
    opacity: 1;
    z-index: 8;
    
    
    }

    to {  
    z-index: 8;
    opacity: 1;
       
    }
}

//Gray background div
#loading-spinner-background {
   
    opacity: 0;
    z-index: -9999;
    height: 100%;
    width: 100%;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    animation-fill-mode: backwards;
    animation: loading-spinner-background;
    animation-duration: 3.4s;
    

}


@keyframes no-scroll {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#page-content {
    opacity: 1;
    animation: no-scroll;
    animation-duration: 3.4s;
}




// Mixin for the dot animations (customized by the $animation-delay argument)
@mixin circle-anchor($animation-delay) {
    opacity: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation-name: dot-rotate;
    animation-timing-function: cubic-bezier(.67,.33,.27,.61);
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: $animation-delay;
    animation-iteration-count: 3;
    transform-origin: center;
    position: absolute; 
   
}


// Each individual dot anchor with it's own animation delay 
.circle-anchor:nth-of-type(1) {
   @include circle-anchor(.27s)
}

.circle-anchor:nth-of-type(2) {
    @include circle-anchor(.23s)  
}

.circle-anchor:nth-of-type(3) {
    @include circle-anchor(.2s)
}

.circle-anchor:nth-of-type(4) {
    @include circle-anchor(.15s)
}

.circle-anchor:nth-of-type(5) {
    @include circle-anchor(.1s)
}




// Heart animation //

@mixin heart {
    position: relative;
    right: calc(-100% + 55px); 
    bottom: 87px; 
    font-size: 27px; 
    width: 40px;


    &::before {
  
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-weight: 400;
        display: inline-block;
        z-index: 2;
        position: relative;
        padding: 5px;
        
    }

    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-weight: 900;
        display: inline-block;
        z-index: 1;
        opacity: 0; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // Gradient background //
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        color: transparent;
        padding: 5px;

    } 

    // Hover on Desktop
    @include media-query-hover {
        &:hover{
            &::before {
                opacity: 0;
                transition: opacity 0s ease-out;
            }
            &::after {
                opacity: 1;
                transition: all .5s;
                transition-timing-function: cubic-bezier(.49,.42,.54,.96);
            }
      
        }

    }

    // Click on Mobile/Tablet

    @include media-query-click {
    &:active {
        &::before {
            opacity: 0;
            transition: opacity 0s ease-out;
        }
        &::after {
            opacity: 1;
            transition: all .5s;
            transition-timing-function: cubic-bezier(.49,.42,.54,.96);
        }
  
    }
}
    

         
}


















@keyframes menu-section-delay {
  
    
    0%, 38% {
        opacity: 0;
        
    }

    37% {
        transform: translate(0px, 7px)
    }
  
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    
}



