
@keyframes loading-spinner {
    from {
    opacity: 1;
    transform: rotate(.33turn);
    
    }

    to {
        opacity: 1;
        display: none;   
    }
}

@keyframes anchor-spinner {
    from {
        opacity: 1;
        transform: rotate(360deg)
    }

    to {
        opacity: 1;
        display: none;
    }
}


#loading-spinner {
    opacity: 1; //opacity must be 0 for get rid of it after animation finishes
    position: absolute;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: 40%;
    z-index: 9;
    width: 100px;
    height: 100px;
    @include flex-column-center;
   
 
    & .dot-one { 
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-primary;
        position: relative;
        top: 53px;
        left: 3px;
    }
    & .dot-two {
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-secondary;
        position: relative;
        top: 60px;
        left: 15px;
        
    }
    & .dot-three {
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-tertiary;
        position: relative;
        top: 64px;
        left: 28px;
        
    }
    & .dot-four {
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-primary;
        position: relative;
        top: 60px;
        left: 42px;
    }
    & .dot-five {
        padding: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $color-secondary;
        position: relative;
        top: 53px;
        left: 54px;
        
    }
}


@keyframes loading-spinner-background {
    from {
       
    opacity: 1;
    z-index: 8;
    }

    to {  
    z-index: 8;
    opacity: 1;
    
       
    }
}

//Gray background div
#loading-spinner-background {

    
    opacity: 0;
    z-index: -9999;
    height: 2300px;
    width: 100%;
    background-color: $color-light-gray;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    animation-fill-mode: backwards;
    //animation: loading-spinner-background;
    animation-duration: 3.5s;
}


// Mixin for the dot animations (customized by the $animation-delay argument)
@mixin dot-anchor($animation-delay) {
    opacity: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    //animation-name: anchor-spinner;
    animation-timing-function: cubic-bezier(.67,.33,.27,.61);
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: $animation-delay;
    animation-iteration-count: 3;
    transform-origin: center;
    position: absolute; 

    
   
}


// Each individual dot anchor with it's own animation delay 
.dot-anchor:nth-of-type(1) {
   @include dot-anchor(.27s)
    
}

.dot-anchor:nth-of-type(2) {
    @include dot-anchor(.23s)  
}

.dot-anchor:nth-of-type(3) {
    @include dot-anchor(.2s)
}

.dot-anchor:nth-of-type(4) {
    @include dot-anchor(.15s)
}

.dot-anchor:nth-of-type(5) {
    @include dot-anchor(.1s)
}




// Heart animation //

@mixin heart($position-right, $position-bottom, $font-size: 25px) {

    position: relative;
    right: $position-right; 
    bottom: $position-bottom; 
    font-size: $font-size; 
    width: 40px;

    &::before {
  
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-weight: 400;
        display: inline-block;
        z-index: 2;
        position: relative;
        padding: 5px;
        
    }

    &:active {
        &::before {
            opacity: 0;
            transition: opacity 0s ease-out;

        }
        &::after {
            opacity: 1;
            transition: all .5s;
            transition-timing-function: cubic-bezier(.49,.42,.54,.96);
        }

    }

    @include desktop-only {
        &:hover {
        &::before {
            opacity: 0;
            transition: opacity 0s ease-out;

        }
        &::after {
            opacity: 1;
            transition: all .5s;
            transition-timing-function: cubic-bezier(.49,.42,.54,.96);
        }
    }
    
}

    &::after {
        font-family: "Font Awesome 5 Free";
        content: "\f004";
        font-weight: 900;
        display: inline-block;
        z-index: 1;
        opacity: 0; 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // Gradient background //
        background: rgb(147,86,220);
        background: linear-gradient(169deg, rgba(147,86,220,1) 12%, rgba(255,121,218,1) 56%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        padding: 5px;
        

    }      
}