* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }

body {
  height: 100%;
}


a {
  text-decoration: none;
  color: unset;
}

main {
  @include flex-column-center;
 
}

